/* ITEMS GLOW */
@-webkit-keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0px 0px #61ef61;
            box-shadow: 0px 0px #61ef61;
    background-color: transparent;
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 15px purple;
            box-shadow: 0px 0px 17px 15px purple;
    border-width: 1px;
    background-color: none;
  }
}
@keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0px 0px #61ef61;
            box-shadow: 0px 0px #61ef61;
    background-color: transparent;
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 15px purple;
            box-shadow: 0px 0px 17px 15px purple;
    border-width: 1px;
    background-color: none;
  }
}

/* NEON GLOW */
@-webkit-keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

/* FIRE */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/boris-yue-9sE-72cYCeI-unsplash.jpg") no-repeat center center;
  background-position: bottom;
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
  height: 100vh;
}

/* Versus Neon */
.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: "neon";
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: "neon";
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 1.5s ease infinite;
  -moz-animation: neon 1.5s ease infinite;
  -webkit-animation: neon 1.5s ease infinite;
}

.flux {
  animation: flux 1s ease infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 1.5s linear infinite;
  -o-animation: flux 2s linear infinite;
}

/* End Versus Neon*/
.brawl {
  /* ATTACK BUTTON STYLING */
  /* HEAL BUTTON STYLING */
}

.brawl #selection-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 73, 115, 0.814)), to(#341100cc)), url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 73, 115, 0.814), #341100cc), url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.brawl #selection-page .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.brawl #selection-page .characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.brawl #selection-page .characters #selection-player-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  width: 20vw;
}

.brawl #selection-page .characters #selection-player-one #player-one-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.brawl #selection-page .characters #selection-player-one-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brawl #selection-page .characters #selection-player-one-items .item-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brawl #selection-page .characters #selection-player-one-items .item-p1.active {
  -webkit-box-shadow: 0px 0px 17px 15px purple;
          box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  -webkit-animation: anim-glow 1.3s ease;
          animation: anim-glow 1.3s ease;
}

.brawl #selection-page .characters #selection-player-one-items .item-p1:hover {
  -webkit-animation: anim-glow 1.3s ease infinite;
          animation: anim-glow 1.3s ease infinite;
  outline: none;
  background-image: radial-gradient(lightblue, purple);
}

.brawl #selection-page .characters #selection-player-one-items img {
  border: none;
  height: 5vh;
}

.brawl #selection-page .characters .versus {
  height: 25vh;
  width: 8vw;
  margin-top: 20vh;
}

.brawl #selection-page .characters #selection-player-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  width: 20vw;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items img {
  height: 5vh;
}

.brawl #selection-page .characters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0px 20px 0px 20px;
  height: 5vh;
  width: 2vw;
  border-radius: 90%;
  border: none;
  color: rgba(4, 255, 0, 0.729);
  background-color: transparent;
  z-index: 5;
}

.brawl #selection-page .characters button:focus {
  outline: 0;
}

.brawl #selection-page #start-fight {
  background-color: transparent;
  border: none;
}

.brawl #selection-page #start-fight img {
  width: 10vw;
  height: 20vh;
}

.brawl #selection-page #battle-scene {
  width: 100%;
  height: 100%;
}

.brawl #selection-page #battle-scene #countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.brawl #selection-page #battle-scene .head-up-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10px;
}

.brawl #selection-page #battle-scene .battle-ground {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50vh;
      grid-template-rows: 50vh;
      grid-template-areas: " . [playerOne] playerTwo . ";
}

.brawl #selection-page #battle-scene .battle-ground #playerOne {
  grid-area: "playerOne";
}

.brawl #selection-page #battle-scene .battle-ground #playerTwo {
  grid-area: "playerTwo";
}

.brawl #selection-page #battle-scene .player-moves {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "1 2 3";
}

.brawl .player-moves-container {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brawl #player-one-moves {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
  margin-left: 50px;
  margin-top: -45px;
  padding: 10px;
}

.brawl #player-two-moves {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  margin-top: -45px;
  padding: 10px;
}

.brawl #attack {
  width: 10vw;
  height: 10vh;
  margin: 10px;
  background-color: rgba(117, 117, 117, 0.317);
}

.brawl .draw-border {
  -webkit-box-shadow: inset 0 0 0 4px lightblue;
          box-shadow: inset 0 0 0 4px lightblue;
  color: lightblue;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.brawl .draw-border::before, .brawl .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.brawl .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.brawl .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.brawl .draw-border:hover {
  color: red;
}

.brawl .draw-border:hover::before, .brawl .draw-border:hover::after {
  border-color: red;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.brawl .draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.brawl .draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.brawl .btn1 {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  color: black;
}

.brawl .btn1:focus {
  outline: 2px dotted #55d7dc;
}

.brawl #heal {
  width: 55px;
  height: 25px;
  margin: 10px;
}

.brawl #counter {
  width: 55px;
  height: 25px;
  margin: 10px;
}

.brawl .player-actions-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 75vw;
}

.brawl .player-actions-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
  height: 10vh;
  background: transparent;
  border: 1px solid grey;
}

.brawl #player-actions {
  font-size: 1vw;
}
/*# sourceMappingURL=style.css.map */