@font-face {
  font-family: neon;
  src: url(BeCode/projects/JavaScript/RPG2.0/_js_rpg/neon.ttf);
}
/* ITEMS GLOW */
@keyframes anim-glow {
  0% {
    box-shadow: 0px 0px #61ef61;
    background-color: transparent;
  }
  100% {
    box-shadow: 0px 0px 17px 15px purple;
    border-width: 1px;
    background-color: none;
  }
}
/* NEON GLOW */
@keyframes flux {
  0%, 100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 0.4vw #8BFDFE, 0.5vw 0.5vw 0.1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0A3940;
    color: #146C80;
  }
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 0.4vw #FED128, 0.5vw 0.5vw 0.1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 0.2vw #800E0B, 0.5vw 0.5vw 0.1vw #40340A;
    color: #806914;
  }
}
/* FIRE */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/boris-yue-9sE-72cYCeI-unsplash.jpg") no-repeat center center;
  background-position: bottom;
  background-size: cover;
  font-family: "Alfa Slab One", cursive;
  height: 100vh;
}

/* Versus Neon */
.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: "neon";
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: "neon";
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 1.5s ease infinite;
  -moz-animation: neon 1.5s ease infinite;
  -webkit-animation: neon 1.5s ease infinite;
}

.flux {
  animation: flux 1s ease infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 1.5s linear infinite;
  -o-animation: flux 2s linear infinite;
}

/* End Versus Neon*/
.brawl #selection-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 73, 115, 0.814), #341100cc), url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.brawl #selection-page .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.brawl #selection-page .characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.brawl #selection-page .characters #selection-player-one {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 20vw;
}
.brawl #selection-page .characters h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brawl #selection-page .characters #selection-player-one-items {
  display: flex;
  flex-direction: row;
}
.brawl #selection-page .characters #selection-player-one-items .item-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brawl #selection-page .characters #selection-player-one-items .item-p1.active {
  box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  animation: anim-glow 1.3s ease;
}
.brawl #selection-page .characters #selection-player-one-items .item-p1:hover {
  animation: anim-glow 1.3s ease infinite;
  outline: none;
  background-image: radial-gradient(lightblue, purple);
}
.brawl #selection-page .characters #selection-player-one-items img {
  height: 5vh;
}
.brawl #selection-page .characters .versus {
  height: 25vh;
  width: 8vw;
  margin-top: 20vh;
}
.brawl #selection-page .characters #selection-player-two {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 60vh;
  width: 20vw;
}
.brawl #selection-page .characters #selection-player-two #selection-player-two-items {
  display: flex;
  flex-direction: row;
}
.brawl #selection-page .characters #selection-player-two #selection-player-two-items button {
  display: block;
}
.brawl #selection-page .characters #selection-player-two #selection-player-two-items img {
  height: 5vh;
}
.brawl #selection-page .characters button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0px 20px 0px 20px;
  height: 5vh;
  width: 2vw;
  border-radius: 90%;
  border: none;
  color: white;
  background-color: transparent;
}
.brawl #selection-page .characters button:focus {
  outline: 0;
}
.brawl #selection-page #start-fight {
  background-color: transparent;
  border: none;
  width: 5vw;
  height: 5vh;
}
.brawl #selection-page #start-fight img {
  width: 10vw;
  height: 20vh;
}
.brawl #battle-scene {
  width: 100%;
  height: 100%;
}
.brawl #battle-scene #countdown {
  display: flex;
  justify-content: center;
  align-content: center;
}
.brawl #battle-scene .head-up-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}
.brawl #battle-scene .battle-ground {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;
  grid-template-areas: " . [playerOne] playerTwo . ";
}
.brawl #battle-scene .battle-ground #playerOne {
  grid-area: "playerOne";
}
.brawl #battle-scene .battle-ground #playerTwo {
  grid-area: "playerTwo";
}
.brawl #battle-scene .player-moves {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "1 2 3";
}

.player-moves-container {
  display: block;
  justify-content: space-between;
  flex-direction: row;
}

#player-one-moves {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  margin-left: 50px;
  margin-top: -45px;
  padding: 10px;
}

#player-two-moves {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -45px;
  padding: 10px;
}

/* ATTACK BUTTON STYLING */
#attack {
  width: 10vw;
  height: 10vh;
  margin: 10px;
  background-color: rgba(117, 117, 117, 0.317);
}

.draw-border {
  box-shadow: inset 0 0 0 4px lightblue;
  color: lightblue;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: red;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: red;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn1 {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  color: black;
}
.btn1:focus {
  outline: 2px dotted #55d7dc;
}

/* HEAL BUTTON STYLING */
#heal {
  width: 55px;
  height: 25px;
  margin: 10px;
}

#counter {
  width: 55px;
  height: 25px;
  margin: 10px;
}

.player-actions-container {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  width: 75vw;
}

.player-actions-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
  background: transparent;
  border: 1px solid grey;
}

#player-actions {
  font-size: 1vw;
}

/*# sourceMappingURL=style.css.map */
