* {
    margin: 0;
    padding: 0;
}

body {
    // background-image: url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
    background-image: url(images/boris-yue-9sE-72cYCeI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.brawl {
    // CREATION PAGE 
    #selection-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: hsla(20, 4%, 15%, 0.907);
        color: white;
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .characters {
            display: flex;
            flex-wrap: wrap;
            #selection-player-one {
                display: flex;
                flex-direction: column;
                border: 1px solid red;
                height: 60vh;
                width: 20vw;
            }
            h3 {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            #selection-player-two {
                display: flex;
                flex-direction: column;
                border: 1px solid red;
                height: 60vh;
                width: 20vw;
            }
            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                margin: 238px 20px 0px 20px;
                height: 10vh;
                width: 5vw;
                border-radius: 50%;
                border: none;
                color: white;
                background-color: transparent;
            }
        }
        #start-fight {
            background-image: linear-gradient(#1C110A, #4a4a4a);
            border: none;
            color: white;
            width: 10vw;
            height: 5vh;
            border-radius: 75%;
        }
    }
    // BATTLE PAGE
    #battle-scene {
        width: 100%;
        height: 100%;
        #countdown {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .head-up-display {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            margin-top: 10px;
        }
        .battle-ground {
            display: grid;
            grid-template-columns:  1fr 1fr;
            grid-template-rows: 50vh;
            grid-template-areas:" . [playerOne] playerTwo . ";
            #playerOne {
                grid-area: "playerOne";
            }
            #playerTwo {
                grid-area: "playerTwo";
            }
        }
        .player-moves {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-template-areas:"1 2 3";
        
        }
    }
}
