/* ITEMS GLOW */
@-webkit-keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0px 0px #61ef61;
            box-shadow: 0px 0px #61ef61;
    background-color: transparent;
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 15px purple;
            box-shadow: 0px 0px 17px 15px purple;
    border-width: 1px;
    background-color: none;
  }
}
@keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0px 0px #61ef61;
            box-shadow: 0px 0px #61ef61;
    background-color: transparent;
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 15px purple;
            box-shadow: 0px 0px 17px 15px purple;
    border-width: 1px;
    background-color: none;
  }
}

/* NEON GLOW */
@-webkit-keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* End Versus Neon*/
}

.neon-container .neon {
  font-family: 'Lacquer', sans-serif;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon-container .flux {
  font-family: 'Lacquer', sans-serif;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon-container .neon {
  animation: neon 1.5s ease infinite;
  -moz-animation: neon 1.5s ease infinite;
  -webkit-animation: neon 1.5s ease infinite;
}

.neon-container .flux {
  animation: flux 1s ease infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 1.5s linear infinite;
  -o-animation: flux 2s linear infinite;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/boris-yue-9sE-72cYCeI-unsplash.jpg") no-repeat center center;
  background-position: bottom;
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
  height: 100vh;
}

.brawl {
  height: 100%;
  width: 100%;
}

.brawl #selection-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 73, 115, 0.814)), to(#341100cc)), url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 73, 115, 0.814), #341100cc), url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.brawl #selection-page .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.brawl #selection-page .characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.brawl #selection-page .characters #selection-player-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
  width: 18vw;
}

.brawl #selection-page .characters #selection-player-one #player-one-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50vh;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2a1931), to(#2e2a190f));
  background-image: linear-gradient(#2e2a1931, #2e2a190f);
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-stats {
  height: 15vh;
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-items .item-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-items .item-p1.active {
  -webkit-box-shadow: 0px 0px 17px 15px purple;
          box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  -webkit-animation: anim-glow 1.3s ease;
          animation: anim-glow 1.3s ease;
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-items .item-p1.active2 {
  -webkit-box-shadow: 0px 0px 17px 15px purple;
          box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  -webkit-animation: anim-glow 1.3s ease;
          animation: anim-glow 1.3s ease;
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-items .item-p1:hover {
  -webkit-animation: anim-glow 1.3s ease infinite;
          animation: anim-glow 1.3s ease infinite;
  outline: none;
  background-image: radial-gradient(lightblue, purple);
}

.brawl #selection-page .characters #selection-player-one #selection-player-one-items img {
  border: none;
  height: 5vh;
}

.brawl #selection-page .characters #selection-player-one #selection-item-stats {
  margin-top: 20px;
  height: 1vh;
}

.brawl #selection-page .characters #selection-player-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
  width: 18vw;
}

.brawl #selection-page .characters #selection-player-two #player-two-avatar {
  height: 50vh;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2a1931), to(#2e2a190f));
  background-image: linear-gradient(#2e2a1931, #2e2a190f);
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-stats {
  height: 15vh;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items .item-button-container-player-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items .item-p2.active {
  -webkit-box-shadow: 0px 0px 17px 15px purple;
          box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  -webkit-animation: anim-glow 1.3s ease;
          animation: anim-glow 1.3s ease;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items .item-p2.active2 {
  -webkit-box-shadow: 0px 0px 17px 15px purple;
          box-shadow: 0px 0px 17px 15px purple;
  border-width: 1px;
  background-image: radial-gradient(lightblue, purple);
  -webkit-animation: anim-glow 1.3s ease;
          animation: anim-glow 1.3s ease;
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items .item-p2:hover {
  -webkit-animation: anim-glow 1.3s ease infinite;
          animation: anim-glow 1.3s ease infinite;
  outline: none;
  background-image: radial-gradient(lightblue, purple);
}

.brawl #selection-page .characters #selection-player-two #selection-player-two-items img {
  border: none;
  height: 5vh;
}

.brawl #selection-page .characters #selection-player-two #selection-item-stats-p2 {
  margin-top: 20px;
  height: 1vh;
}

.brawl #selection-page .characters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 30px 20px;
  height: 5vh;
  width: 2vw;
  border-radius: 90%;
  border: none;
  color: rgba(4, 255, 0, 0.729);
  background-color: transparent;
  z-index: 5;
}

.brawl #selection-page .characters button:focus {
  outline: 0;
}

.brawl #selection-page #start-fight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  width: 100%;
}

.brawl #selection-page #start-fight:focus {
  outline: 0;
}

.brawl #selection-page #start-fight img {
  max-width: 32%;
}
/*# sourceMappingURL=style.css.map */