@import '_animations';

/* ITEMS GLOW */
@keyframes anim-glow {
	0% {
		box-shadow: 0px 0px rgba(#61EF61, 1);
    background-color: transparent;
	}
	100% {
		box-shadow: 0px 0px 17px 15px purple;
		border-width: 1px;
    background-color: none;
	}
}

/* NEON GLOW */
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  @include neon-versus;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('images/boris-yue-9sE-72cYCeI-unsplash.jpg') no-repeat center center;
  background-position: bottom;
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
  height: 100vh;
}
.brawl {
  height: 100%;
  width: 100%;
  // CREATION PAGE
  #selection-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 73, 115, 0.814), #341100cc),url(images/f45d080a5bfe8161dba8014562a18da0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .characters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      // SELECTION P1
      #selection-player-one {
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 18vw;
        #player-one-avatar{
          display: flex;
          justify-content: center;
          align-content: center;
          height: 50vh;
          border-top-left-radius: 20%;
          border-top-right-radius: 20%;
          background-image: linear-gradient(#2e2a1931, #2e2a190f);
        }
        #selection-player-one-stats {
          height: 15vh;
        }
        #selection-player-one-items {
        .item-button-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
        }
        .item-p1 {
          @include item-buttons;
        }
        img {
          border: none;
          height: 5vh;
        }
      }
      #selection-item-stats {
        margin-top: 20px;
        height: 1vh;
      }
    }
    // SELECTION P2
    #selection-player-two {
      display: flex;
      flex-direction: column;
      height: 65vh;
      width: 18vw;
      #player-two-avatar{
        height: 50vh;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        background-image: linear-gradient(#2e2a1931, #2e2a190f);
      }
      #selection-player-two-stats {
        height: 15vh;
      }
      #selection-player-two-items {
        display: flex;
        flex-direction: row;
        .item-button-container-player-two {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .item-p2{
          @include item-buttons;
        }
        img {
          border: none;
          height: 5vh;
        }
      }
      #selection-item-stats-p2 {
        margin-top: 20px;
        height: 1vh;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin: 30px 20px;
      height: 5vh;
      width: 2vw;
      border-radius: 90%;
      border: none;
      color: rgba(4, 255, 0, 0.729);
      background-color: transparent;
      z-index: 5;
      &:focus {
        outline:0;
      }
    }
  }
  #start-fight {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 100%;
      &:focus {
        outline: 0;
      }
      img {
        max-width: 32%;
      }
    }
  }
}